@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

:root {
  --pageBlue: #0d3b66;
  --pageWhite: #edf2f4;
  --pageGrey: #808080;
  --pageBrownDark: #120b03;
  --pageViolet: #b91372;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
}

section {
  display: flex;
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
}

.image-container {
  width: 50%;
  height: 100vh;
  padding: 0 1em;
  background-image: url(img/R6.jpg),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--pageWhite);
}

.d-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-container {
  width: 50%;
}
form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 2em auto;
}

.inner-container {
  max-width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button {
  font-size: 1.25em;
  padding: 0.25em 2em;
  border: 2px solid var(--pageViolet);
  border-radius: 5px;
  background: var(--pageBrownDark);
  color: var(--pageWhite);
  text-transform: uppercase;
  cursor: pointer;
}

input,
.btn-form {
  width: 100%;
  margin: 0.4em auto;
  padding: 0.25em;
  text-align: center;
  font-size: 1.025em;
  border-radius: 5px;
  border: 1px solid var(--pageBlue);
}

.btn-form {
  margin-top: 2em;
  letter-spacing: 2px;
  padding: 0.5em;
  border: 2px solid var(--pageViolet);
}

button:hover,
button:focus {
  background: var(--pageBlue);
  border: 2px solid var(--pageBrownDark);
}

/* ##### TYPOGRAPHY ##### */
.image-title {
  font-size: 3.25em;
  line-height: 1.7em;
  margin: 5em auto;
}
strong {
  color: var(--pageViolet);
}

.image-subtitle {
  order: -1;
  padding-top: 0;
  border-top: 2px solid var(--pageViolet);
}

.form-title {
  margin-top: 7em;
  margin-bottom: 2em;
  font-size: 2em;
}

p {
  font-size: 1.125em;
  line-height: 1.6;
}

@media (max-width: 600px) {
  section {
    flex-direction: column;
  }
  
  .image-container {
    width: 100%;
    max-height: 85vh;
    display: flex;
    justify-content: flex-start;
  }
  
  .form-container,
  .inner-container {
    width: 100%;
    max-height: 70vh;
    display: flex;
    justify-content: flex-start;
  }
  .image-title {
    margin: .8em auto;
    font-size: 1.8em;
    padding: 0 1em;
  }
  .image-subtitel {
    font-size: 1em;
  }
  
  button,
  input {
    font-size: 1em;
  }
  .img-btn {
    margin-top: .3em;
  }
  .form-title {
    margin-top: .5em;
    margin-bottom: 0.5em;
  }
  .btn-form {
    margin-bottom: 0.5em;
  }
}
